---
layout: bootcamp
root: .
venue: University of Michigan
address: Room R0210 - Ross School of Business - 701 Tappan Street, Central Campus
country: United-States
humandate: June 5th-9th 2017
humantime: 9:00 am - 5:00 pm
startdate: 2017-06-05
enddate: 2017-06-09
registration: restricted
coordinators: [ "Teddy DeWitt" ]
instructor: ["Sam Carton", "Jackie Cohen", "Jerry Davis","Teddy DeWitt","Ronnie Lee","Jeff Lockhart","Todd Schifeling","Colleen Van Lent"]
helpers: ["Nivi Karki","Ronnie Lee","Jeff Lockhart","Todd Schifeling"]
speakers: ["Cassandra Chambers","Fred Feinberg", "Felix Kabo", "Julian Katz-Samuels"]
contact: teddydew@umich.edu
---
<!--
    Edit the values in the parameter block above to be appropriate for your bootcamp.
    Please use three-letter month names for the 'humandate' field.
-->

<h2>General Information</h2>

<p>
  Social  and  organizational  life are  increasingly  conducted  or
tracked online  through electronic  media, from emails  to Twitter
feed  to dating  sites to  GPS  phone tracking.  The traces  these
activities leave  behind have  acquired the (misleading)  title of
“big data.” It is  a good bet that within a  few years, a standard
part of  graduate training in  the social sciences will  include a
hefty dose of  “how to make use of big  data,” just as statistical
analysis is a  standard part of such training today.  The ICOS Big
Data Camp  aims to  make big  data accessible  for people  with no
prior background. We  want people to leave  with enough confidence
and basic knowledge  to be able to know what  is possible in their
research and  where they  might go next,  drawing on  resources at
the University of Michigan.

Organizing committee: Jerry Davis, H. V. Jagadish, Cliff Lampe, and Brian Noble
</p>

<!-- This block displays the instructors' names if they are available. -->
{% if page.coordinators %}
<p>
  <strong>Coordinators:</strong>
  {{page.coordinators | join: ', ' %}}
</p>
{% endif %}
{% if page.instructor %}
<p>
  <strong>Instructors:</strong>
  {{page.instructor | join: ', ' %}}
</p>
{% endif %}
{% if page.helpers %}
<p>
  <strong>Guides:</strong>
  {{page.helpers | join: ', ' %}}
</p>
{% endif %}
{% if page.speakers %}
<p>
  <strong>Speakers:</strong>
  {{page.speakers | join: ', ' %}}
</p>
{% endif %}
<!--
    Modify this block to reflect the target audience for your bootcamp.
    In particular, if it is only open to people from a particular institution,
    or if specialized prerequisite knowledge is required, please mention that.
-->
<p>
  <strong>Who:</strong>
  The course is aimed at graduate students and other researchers.
</p>

<!--
    This block displays the address and links to a map showing directions.
-->
{% if page.latlng %}
<p>
  <strong>Where:</strong>
  {{ page.address }}.
  Get directions with
  <a href="http://www.openstreetmap.org/?mlat={{ page.latlng | replace:',','&mlon=' }}&zoom=16">OpenStreetMap</a>
  or
  <a href="http://maps.google.com/maps?q={{ page.latlng }}">Google Maps</a>.
</p>
{% endif %}

<!--
    Modify the block below if there are any special requirements.
-->
<p>
  <strong>Requirements:</strong>
  Participants must bring a laptop with a few specific software packages installed
  (listed below).
</p>

<!--
    This block automatically inserts a contact email address if one has been specified for the page.
    If one hasn't, this block inserts the generic contact address for Software Carpentry.
-->
<p>
  <strong>Contact</strong>:
  Please mail
  {% if page.contact %}
    <a href='mailto:{{page.contact}}'>{{page.contact}}</a>
  {% else %}
    <a href='mailto:{{site.contact}}'>{{site.contact}}</a>
  {% endif %}
  for more information.
</p>
<p><strong>Resources</strong>: Go <a href='resources/'>here</a> for example papers and data sources.</p>

<hr/>

<!--
    Edit this block to show the syllabus and schedule for your bootcamp.
-->
<h2>Schedule</h2>

<table class="table table-striped">
  <tr> <td>Monday</td>  <td>9:00</td>   <td>Introduction and Overview with Jerry Davis</td> </tr>
  <!--(Intro <a href="slides/jerry_big_data_intro.ppt">ppt</a>,
  <a href="slides/jerry_big_data_intro.pdf">pdf</a>.  
  Assignment <a href="slides/icos_bigdata_assignment.pptx">ppt</a>, 
  <a href="slides/icos_bigdata_assignment.pdf">pdf</a>)-->
  <tr> <td></td>        <td>10:00</td>   <td><span style="background-color: #FFFF00">Hero's Journey?? -  Speaker TBD</span></td> </tr>
  <tr> <td></td>        <td>10:30</td>   <td>Break</td> </tr>
  <tr> <td></td>        <td>10:45</td>   <td> Module 0 - Setup and Command Line Introduction with Jeff Lockhart
         <!--(Directions: <a href='install/'>install</a>, 
            <a href='commandline/'>command line</a>)--></td> </tr>
  <tr> <td></td>        <td>12:00 - 1:00 PM </td>   <td>Lunch break</td> </tr>
  <tr> <td></td>        <td>12:15</td>   <td>Lunch Speaker Series - Fred Feinberg</td> </tr>
  <tr> <td></td>        <td>1:00 - 1:30</td>    <td>Lunch Clean Up and Coffee Pick Me Up</td> </tr>
           
  <!--<tr> <td></td>        <td>1:30</td>    <td>Group formation & How to learn in groups: lessons from design teams, Brian Noble (<a href="slides/Monday-Noble.pptx">ppt</a>)</td> </tr> -->
  <tr> <td></td>        <td>1:30</td>   <td>Module 1 - Introduction to SQL with Teddy DeWitt
    <!--  (Main slides: <a href="slides/SQL Final 2016-05-10.pdf">pdf</a>, slides on joins: <a href="slides/JOINS -  An Overview.pdf">pdf</a>)</td> </tr> -->
  <tr> <td></td>       <td>3:00</td>    <td>Team Formation</td> </tr>
  <tr> <td></td>       <td>3:30</td>    <td><span style="background-color: #FFFF00">Past Project Examples</span></td> </tr>
  <tr> <td></td>       <td>4:15</td>    <td>Dominick's Happy Hour</td> </tr> 
  <tr> <td>Tuesday</td><td>9:00</td>    <td>Sit with your Teams - SQL Exercise </td> </tr>
  <tr> <td></td>       <td>9:45</td>    <td>SQL Exercise Review</td> </tr> 
  <tr> <td></td>       <td>10:00</td>   <td>Break</td> </tr>
  <tr> <td></td>       <td>10:15</td>   <td>Module 2 - Introduction to Python with Colleen Van Lent and Jackie Cohen
     <!-- (<a href="slides/ICOS Big Data Camp-2016.html">HTML</a>,
    <a href="slides/ICOS Big Data Camp-2016.ipynb">Notebook</a> --> </td> </tr> 
  <tr> <td></td>       <td>12:00 - 1:00 PM </td>   <td>Lunch break</td> </tr>
  <tr> <td></td>       <td>12:15</td>   <td><span style="background-color: #FFFF00">Lunch Speaker Series - Big Data Student Panel</span></td> </tr>
  <tr> <td></td>       <td>1:00 - 1:30</td>    <td>Lunch Clean Up and Coffee Pick Me Up</td> </tr>
  <tr> <td></td>       <td>1:30</td>   <td><span style="background-color: #FFFF00">Module 3 - Python Data Structures and Web Scraping with Nivi Karki and TBD</span></td> </tr>
  <tr> <td></td>       <td>3:30</td>   <td>Group Work</td> </tr>
  <tr> <td></td>       <td>5:00</td>   <td>Depart</td> </tr>
   
  <tr> <td>Wednesday</td><td>9:00</td>    <td>Sit with your Teams - Python Exercise 1 </td> </tr>
  <tr> <td></td>       <td>9:45</td>    <td>Python Exercise 1 Review</td> </tr> 
  <tr> <td></td>       <td>10:00</td>   <td>Break</td> </tr>
  <tr> <td></td>       <td>10:15</td>   <td>Module 4 - Python Introduction to NLTK with Sam Carton</td></tr>
     
  <tr> <td></td>       <td>12:00 - 1:00 PM </td>   <td>Lunch break</td> </tr>
  <tr> <td></td>       <td>12:15</td>   <td>Lunch Speaker Series - Julian Katz Samuels</td> </tr>
  <tr> <td></td>       <td>1:00 - 1:30</td>    <td>Lunch Clean Up and Coffee Pick Me Up</td> </tr>
  <tr> <td></td>       <td>1:30</td>   <td>Module 5 - Python and APIs with Todd Schifeling</td> </tr>
       <!-- (<a href="slides/twitter-lib-install.html">Install</a>,
    <a href="apis/examples.zip">Code</a>,
    <a href="apis/api-lecture.txt">Lecture</a>)</td> </tr> -->
  <tr> <td></td>       <td>3:30</td>   <td>Group Work</td> </tr>
  <tr> <td></td>       <td>5:00</td>   <td>Depart</td> </tr>
    
  <tr> <td>Thursday</td><td>9:00</td>    <td>Sit with your Teams - Python Exercise 2 </td> </tr>
  <tr> <td></td>       <td>9:45</td>    <td>Python Exercise 2 Review</td> </tr> 
  <tr> <td></td>       <td>10:00</td>   <td>Break</td> </tr>
  <tr> <td></td>       <td>10:15</td>   <td><span style="background-color: #FFFF00">Module 6 - Python for Data Analysis</span> </td> </tr>
  <tr> <td></td>       <td>12:00 - 1:00 PM </td>   <td>Lunch break</td> </tr>
  <tr> <td></td>       <td>12:15</td>   <td>Lunch Speaker Series - Felix Kabo</td> </tr>
  <tr> <td></td>       <td>1:00 - 1:30</td>    <td>Lunch Clean Up and Coffee Pick Me Up</td> </tr>
  <tr> <td></td>       <td>1:30</td>   <td>ARC, MIDAS and CSCAR speakers and Q and A </td> </tr>
    <!--(<a href="slides/Big Data Summer Camp - ARC info 2016.pptx">Slides</a>)--> 
  <tr> <td></td>       <td>3:00</td>   <td>HACKATHON BEGINS</td> </tr>   
  <tr> <td></td>       <td>5:00</td>   <td>PIZZA ARRIVES</td> </tr>
  <tr> <td></td>       <td>5:00 - 10:00</td>   <td>Rooms at Ross will be available until building closes at 10</td> </tr>
      
  <tr> <td>Friday </td><td>9:00</td>    <td>HACKATHON! -  Coffee Available in R0210 </td> </tr>
  <tr> <td></td>       <td>10:00</td>   <td>HACKATHON!</td> </tr>
  <tr> <td></td>       <td>10:00</td>   <td>HACKATHON!</td> </tr>
  <tr> <td></td>       <td>11:00</td>   <td>HACKATHON!</td> </tr>
  <tr> <td></td>       <td>12:00</td>   <td>LUNCH in Room R0210 -  Come get some and keep working</td> </tr>
  <tr> <td></td>       <td>1:00</td>   <td>HACKATHON!</td> </tr>
  <tr> <td></td>       <td>2:45</td>   <td>Submit Presentation</td> </tr>
  <tr> <td></td>       <td>3:00</td>   <td>Presentations Begin</td> </tr>
  <tr> <td></td>       <td>5:00</td>   <td>Feedback</td> </tr>
  <tr> <td></td>       <td>6:00</td>   <td>Celebration at Dominick's</td> </tr>

<!--
  <tr> <td>Wednesday</td> <td>09:00-10:45</td> <td>Introduction to Python with Colleen Van Lent 
    (<a href="slides/ICOS Big Data Camp-2016.html">HTML</a>,
    <a href="slides/ICOS Big Data Camp-2016.ipynb">Notebook</a>)</td> </tr>
  <tr> <td></td>        <td>10:45-11:00</td>   <td>Coffee Break</td> </tr>
  <tr> <td></td>        <td>11:00-12:00</td>   <td>Using Python with Eun Woo Kim & Reed Coke (Slides: <a href="slides/Python and NLP.pptx">ppt</a>, <a href="slides/Python and NLP.pdf">pdf</a>)</td> </tr>
  <tr> <td></td>        <td>12:00-1:00</td>   <td>Lunch break</td> </tr>
  <tr> <td></td>        <td>1:00-1:20</td>    <td>Using text re-use analysis to track legislative influence with Julian Katz-Samuels</td> </tr>
  <tr> <td></td>        <td>1:20-4:00</td>    <td>Group Work 
    (<a href="scraping/">scraping links</a>)</td> </tr>
  <tr> <td></td>        <td>4:00-5:00</td>    <td>Check-in and end of day discussion </td> </tr>
  <tr> <td><a href="https://docs.google.com/a/umich.edu/forms/d/10shOspeb1kl86crZ4rxhvVNg0QqD025z0jGnhd15XTg/viewform?usp=send_form">SIGN IN SHEET</a></td><td></td><td></td></tr>
  <tr> <td>Thursday</td>  <td>09:00-10:45</td>  <td>Introduction to APIs with Todd Schifeling 
    (<a href="slides/twitter-lib-install.html">Install</a>,
    <a href="apis/examples.zip">Code</a>,
    <a href="apis/api-lecture.txt">Lecture</a>)</td> </tr>
  <tr> <td></td>        <td>10:45-11:00</td>   <td>Coffee Break</td> </tr>
  <tr> <td></td>        <td>11:00-12:00</td>   <td>Using APIs with Gareth Keeves
  </td> </tr>
  <tr> <td></td>        <td>12:00-1:00</td>   <td>Lunch break</td> </tr>
  <tr> <td></td> <td>1:00-1:20</td>   <td>Now What? with Mariana Carrasco-Teja, Assistant Director of MICDE
    (<a href="slides/Big Data Summer Camp - ARC info 2016.pptx">Slides</a>)</td> </tr>
  <tr> <td></td>        <td>1:00-4:00</td>    <td>Group Work & Python + SQL 
    (<a href="slides/Scraping-tree-explained.pdf">slides</a>,
    <a href="scraping/ICOS_Tyler_examples.zip">code</a>)</td> </tr>
  <tr> <td></td>        <td>4:00-5:00</td>    <td>Check-in and end of day discussion </td> </tr>
  <tr> <td>Friday</td> <td>1:00-4:00</td>  <td>Final Session with Group Presentations. Ross R0210</td> </tr>
  <tr> <td></td>        <td>4:00-5:00</td>    <td>Dominicks!</td> </tr>
  -->
</table>

<hr/>

<!--
    Edit the setup instructions in _includes/setup.html to reflect your bootcamp.
    (In particular, most bootcamps teach either Python or R, not both.)
-->

<h2>Setup</h2>

<p>
  To participate in the ICOS Big Data Summercamp, 
  you will need working copies of the software described below.
  Please make sure to install everything
  (or at least to download the installers)
  <em>before</em> the start of your bootcamp.
</p>

{% include setup.html %}
